.navbar-one {
    @apply bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800;
    height: 8vh;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-container {
    @apply container flex flex-wrap justify-between items-center mx-auto;
}

.navbar-part-one {
    @apply flex md:order-2;
}

.navbar-title {
    @apply self-center text-2xl font-semibold whitespace-nowrap dark:text-white;
}

.navbar-title span {
    @apply font-extrabold text-green-700;
}

.bar-container {
    @apply hidden relative mr-3 md:mr-0 md:block;
}

.menu-bar {
    @apply flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none;
}

.search-bar-icon {
    @apply w-5 h-5 text-gray-500;
}

.search-bar {
    @apply block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.mobile-menu {
    @apply inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600;
}


.menu-bar-icon-1 {
    @apply w-6 h-6;
}

.menu-bar-icon-2 {
    @apply hidden w-6 h-6;
}

/*NAVBAR PART TWO*/

.navbar-part-two {
    @apply hidden justify-between items-center w-full md:flex md:w-auto md:order-1;
}

.navigations {
    @apply flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium;
}

.navigation-link-home {
    @apply block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-green-700 md:p-0 dark:text-white;
}

.navigation-link {
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
}

/*NAVBAR TWO*/

.navbar-two {
    @apply bg-transparent border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}
